install
text
cdrom
#auth --enableshadow --passalgo=sha512
rootpw wikid
network --device eth0 --bootproto dhcp
#rootpw --iscrypted $1$Z7GmR6n6$ds.EpDIOiML1JVlgonktE1
rootpw wikid
firewall --enabled --port=22:tcp --port=ssh:tcp --port=https:tcp --port=http:tcp
authconfig --useshadow  --enablemd5
selinux --permissive
timezone America/New_York

keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
network --bootproto=dhcp --ipv6=auto --activate --hostname=centos
user --name=nowen --password=nowen  --plaintext --gecos="Vagrant"
selinux --permissive
bootloader --location=mbr --boot-drive=sda
clearpart --none --initlabel
autopart --nolvm
#part / --fstype="xfs" --ondisk=sda --maxsize=20480
%packages
@core
%end
%post
yum -y update
yum clean all

#echo "vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
#chmod 0440 /etc/sudoers.d/vagrant
#sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
reboot
